@charset "utf-8";

.card__consulta{
    background-color: var(--color-white);
    border-radius: 0.5rem;
    padding: 1rem 0;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 500px;
    flex-grow: 1;
}

.consulta__checkbox-remota{
    display: none;
}

.tipo-consulta--remota{
    display: none;    
}

.tipo-consulta--local{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-image: url(../assets/pin-icone.svg);
    background-repeat: no-repeat;
    position: left center;
    height: 1rem;
    padding-left: 1.5rem;
}


.consulta__checkbox-remota:checked ~ .paciente>.tipo-consulta>.tipo-consulta--remota{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-image: url(../assets/camera-icone.svg);
    background-repeat: no-repeat;
    position: left center;
    height: 1rem;
    padding-left: 1.5rem;
}

.consulta__checkbox-remota:checked ~ .paciente>.tipo-consulta>.tipo-consulta--local{
    display: none;
}


.paciente{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap:0.25rem;
    margin:0 1rem 1rem 1rem;
}

.paciente__foto{
    grid-area: 1 / 1 / 3 /2;
    width: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.paciente__nome{
    grid-area: 1 / 2 / 2 /3;
    font-size: 0.85rem;
    font-weight: 700;
    color: var(--color-gray1);
}

.tipo-consulta{
    grid-area: 2 / 2 / 3 /3;
    align-items: center;
    font-size: 0.75rem;
    color:var(--color-gray2);
}

.paciente__chat__botao{
    grid-area: 1 / 3 / 3 /4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border:none;
    background-color: var(--color-gray3);
}

.paciente__chat__botao:hover{
    background-color: var(--color-gray4);
}

.paciente__chat__botao:active{
    transform: translateY(1px);
}

.card__consulta__divisao{
    border-top: 2px solid var(--color-gray3);
}

.card__consulta__horario{
    margin:1rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--color-gray1)
}

.card__consulta__botoes{
    margin: 0 1rem;
}

.card__consulta__botoes__remoto{
    display: none;
}

.card__cosulta__botoes__local{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.consulta__checkbox-remota:checked ~ .card__consulta__botoes>.card__consulta__botoes__remoto{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.consulta__checkbox-remota:checked ~ .card__consulta__botoes>.card__cosulta__botoes__local{
    display: none;
}

.botao__audio, .botao__video, .botao__local{
    display: block;
    border-radius: 0.5rem;
    font-size: 0.85rem;
    font-family: var(--fonte-principal);
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding: 1rem 0.5rem;
    text-decoration: none;
}

.botao__audio{
    background-color: var(--color-white);
    border: 2px solid var(--color-gray3);
    color:var(--color-gray1);
    box-shadow: 0 4px 4px var(--color-shadow4);
}

.botao__audio:hover{
    border: 2px solid var(--color-gray4);
}

.botao__audio:active{
    background-color: var(--color-gray3);
    box-shadow: 0 3px 4px var(--color-shadow4);
    transform: translateY(1px);
}

.botao__video{
    background-color: var(--color-theme2);
    border: none;
    color: var(--color-white);
    box-shadow: 0 4px 4px var(--color-shadow2);
}

.botao__video:hover{
    background-color: var(--color-theme2-light);
}

.botao__video:active{
    background-color: var(--color-theme2-dark);
    box-shadow: 0 3px 4px var(--color-shadow2);
    transform: translateY(1px);
}

.botao__local{
    background-color: var(--color-theme1);
    border: none;
    color: var(--color-white);
    box-shadow: 0 4px 4px var(--color-shadow1);
}

.botao__local:hover{
    background-color: var(--color-theme1-light);
}

.botao__local:active{
    background-color: var(--color-theme1-dark);
    box-shadow: 0 3px 4px var(--color-shadow1);
    transform: translateY(1px);
}

@media only screen and (min-width: 1200px){

    .paciente__nome{
        font-size: 1.125rem;
    }

    .card__consulta__horario{
        font-size: 0.85rem;
    }

    .botao__audio, .botao__video, .botao__local{
        font-size: 1rem;
    }


}